/*
 * milianw.de screen style
 *
 * init
 */
*{
  margin:0;
  padding:0;
  font:normal 1em/1.5em  "Trebuchet MS",Helvetica,Tahoma,sans-serif;
  text-decoration:none;
  line-height:1.4em;
}
html {
  height:100%;
}
html[lang]{
  /* constant scrollbar for geckos */
  padding-bottom: 0.005em;
}
body {
  line-height: 100.1%;
  min-width: 750px;
  height:auto;
  min-height:100%;
  color:#333;
  /* ie < 7 */
  font-size: 75%;
}
/* all other browsers which can scale pixel font sizes */
html > body {
 font-size: 12px;
}

#content, #header {
  font-size:1.166666em;
}
/*
 * common elements
 */
a img {
  border:none;
}
a {
  text-decoration:none;
  color:#333;
}
a:hover,a:active {
  text-decoration:none;
}
a[href^="mailto:"] {
  padding-left:18px;
  background:url(images/email.png) left center no-repeat;
}
.node a,p a {
  text-decoration:underline;
  padding:0;
  background:none;
  color:#333;
}
.node a:hover,p a:hover {
  text-decoration:none;
}
.node a:visited,p a:visited {
  color:#999;
}
/*
 * header
 */
#header {
  background:#333 url(images/background.png) bottom center repeat-x;
  position:relative;
}
#header h1 {
  font-size:1.5em;
  float: left;
  width: 180px;
  margin: 0 0 1em 50px;
  background: url(images/logo.png) center center no-repeat;
  height: 3em;
}
#header h1 a {
  display: block;
  text-indent: -2000px;
  height: 70px;
  background:none;
}
/*
 * navi-main
 */
ul.primary-links {
  position:absolute;
  bottom:10px;
  right:50px;
  padding:0;
  font-size:1em;
}
ul.primary-links li{
  float:left;
  margin:0 5px 0 5px;
  list-style:none;
}
