#foo.bar:active {
	background:yellow url(file.png);
	background-image: url('file.png');
	background-image:url("file.png");
	background-image:url( file.png );
	background: #f00 url( "file.png") ;
	background-image: url('file.png' ) ;
}
